# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

extension/.deps
extension/.libs/
extension/Makefile
extension/Makefile.fragments
extension/Makefile.global
extension/Makefile.objects
extension/acinclude.m4
extension/aclocal.m4
extension/autom4te.cache/
extension/config.guess
extension/config.h
extension/config.h.in
extension/config.nice
extension/config.status
extension/config.sub
extension/configure
extension/configure.in
extension/install-sh
extension/libtool
extension/ltmain.sh
extension/missing
extension/mkinstalldirs
extension/run-tests.php

# Magento test stuff
/magento

# Packaging stuff
extension/debian/autoreconf.*
extension/debian/files
extension/debian/php5-quanta-mon/
extension/debian/php5-quanta-mon.substvars
